.card {
  padding: 0 14px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;

  background-color: #fff;

  &__image {
    @include card-image(160px,134px,15px);
    box-sizing: content-box;
    border: 3px solid transparent;
    padding-top: 12px;

    transition: transform 1s;

    &:hover {
      transform: scale(1.2,1.2);
      border: 3px solid #f3f3f3;

      

    }
  }
  
  &__info {
    margin-top: 42px;
  
    line-height: 15px;
    @include navigation-text;
  }
  
  &__code {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
  
    @include prompt-text;
  }
  
  &__price {
    @include card-row;
    margin-top: 20px;
  }
  
  &__price-text {
    align-self: flex-end;
  
    @include prompt-text;
  }
  
  &__price-value {
    @include special-enlarged-text;
  }
  
  &__testimonials {
    @include card-row;
    margin-top: 15px;
    @import "stars";
  }
  
  &__testim-text {
    @include prompt-text;
  }
  
  &__button {
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $main-page-color;
    border-radius: 5px;
    margin-top: 20px;
  
    background-color: $main-page-color;
  
    @include optional-button-text(14px,700);

    transition: background-color 0.8s cubic-bezier(0.61, 1, 0.88, 1);
  
    &:hover {
      color: $main-page-color;
      background-color: #fff;
    }
  
  }
  
}
